<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Open Systems 3{% endblock %}</title>

    {% block fonts %}
    <link rel="stylesheet" href="https://use.typekit.net/vjm3isi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% endblock %}

    {% block styles %}{% endblock %}

    {% if jquery %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    {% endif %}

    {% block headScripts %}{% endblock %}
    {% endblock %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
