{% extends "base.njk" %}

{% block styles %}
<link rel="stylesheet" href="/detail/style.css">
{% endblock %}

{% block content %}
{% include "header.njk" %}

{# Render media based on presentation type #}
{% if presentationType %}
  {% if presentationType === "video" %}
    {% include "media/video.njk" %}
  {% elif presentationType === "iframe" %}
    {% include "media/iframe.njk" %}
  {% elif presentationType === "audio" %}
    {% include "media/audio.njk" %}
  {% elif presentationType === "image" %}
    {% include "media/image.njk" %}
  {% elif presentationType === "custom" and customTemplate %}
    {% include customTemplate %}
  {% endif %}
{% endif %}

<div class="popup popup_about">
    <img src="/basic_img/x.png" class="close">
    <div class="popup_artist">{{ artist }}</div>
    <div class="popup_title">{{ title }}</div>
    <div class="popup_year">{{ year }}</div>
    <div class="popup_medium">{{ medium }}</div>
    {% if duration %}<div class="popup_duration">{{ duration }}</div>{% endif %}
    <br>
    <div class="popup_des"><br>{{ description }}</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('.close').click(function(){
            $(this).parent().hide()
        })
        $('.sm_popup_button_1').click(function(){
            $('.popup_about').show()
        })
    })
</script>
{% endblock %}
