
body,html{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url(egbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
*{
    margin: 0;
    box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.5vh;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    width: 1.5vh;
    top: 0.2vh;
    right: 0.5vh;
    cursor: pointer;
    /*filter: invert(1);*/
}
.popup_about .close{
    filter: invert(0);
}
.home_button{
	position: absolute;
	right: 0;
	top: 0;
}
.popup_title{
    font-size: 5vh;
    text-align: center;
    line-height: 1.2;
    width: 100%;}
.popup_artist{
    text-align: center;
}
.popup_about, .popup_essay{
    display: none;
    font-family: "elza-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    letter-spacing: -0.025vh;
}
.popup_essay{
    display: none;
}
.sm_popup{
    z-index: 1000000;
    position: absolute;
    background: black;
    width: 100%;
    left: auto;
    top: 0;
    overflow-y: scroll;
    /* box-shadow: 0vh 0vh 2vh black; */
    right: 0;
    float: left;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.col{
    float: left;
    display: flex;
    justify-content: space-around;
}
.col {
  display: flex;
  float: left;
  gap: 50px; /* space between divs */
}


.col1 *{
color: white;
}
.col1 {
    width: 200%;
}
.col2{
    width: 100%;
	background-color: white;
}
.sm_popup div{float: left;}
.sm_popup_button_1:hover{
	text-decoration: underline;
	cursor: pointer;
}
.sm_popup_button_3{
    font-size: 2.6vh;
    line-height: 0.8;
    position: absolute;
    right: 5vh;
}
.popup_button{
    /* float: left; */
    border: 1px solid #00000038;
    display: block;
    width: 100%;
    text-align: center;
    background: wheat;
}
.popup_button:hover{
    filter: invert(1);
}
.popup_button_wrap{
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
}
.popup_artist,
.popup_year,
.popup_medium{
    line-height: 1;
    text-align: center;
}
.popup{
    z-index: 1000000;
    position: absolute;
    background: white;
    width: 100vh;
    left: calc(50vw - 50vh);
    top: 2.5vh;
    padding: 1vh;
    height: 95vh;
    overflow-y: scroll;
    /* box-shadow: 0vh 0vh 2vh black; */
    border: 1px solid black;
}
.popup_des{
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    letter-spacing: -0.025vh; 
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    letter-spacing: -0.025vh;
    line-height: 1.25;
}
.popup_innerspi{
    max-width: 30vh;
    border: 1px solid black;
    text-align: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 1vh;
}
a{text-decoration: none;
    cursor: pointer;}

/* When the screen (or container) becomes too narrow */
@media (max-width: 600px) {
  .col {
    display: block;
  }
  .sm_popup div{
    float: none;
  }
}
