{% block extra_head %}
<script src="{{ '/js/audio-controller.js' | url }}" defer></script>
{% endblock %}
{% block styles %}
  <style>
    body {
      background: url("https://pub-d42aa07d10564317a76f88307d945e1a.r2.dev/samson-young/2012-2014-liquid-borders-fieldwork-still-2013-08-25-02-4751x3158-200dpi.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    #artwork-container {
      position: fixed;
      bottom: 15px;
      left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: white;
      background: none;
      top: revert;
      height: auto;

      figure {
        display: grid;
        grid-template-columns: 1fr auto;

        figcaption {
          font-size: 14px;
        }
      }
      .media-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 12px;
        }
      }
    }
  </style>
{% endblock %}

<main id="artwork-container">
  <figure>
    <button type="button" class="media-toggle">
      <img src="{{ '/basic_img/play.svg' | url }}" alt="Play">
    </button>
    <figcaption>Liquid Borders I (Tsim Bei Tsui & Sha Tau Kok)</figcaption>
    <audio src="https://pub-d42aa07d10564317a76f88307d945e1a.r2.dev/samson-young/liquid-borders-1.mp3"></audio>
  </figure>
  <figure>
    <button type="button" class="media-toggle">
      <img src="{{ '/basic_img/play.svg' | url }}" alt="Play">
    </button>
    <figcaption>Liquid Borders II (Tak Yuet Lau & Lo Wo)</figcaption>
    <audio src="https://pub-d42aa07d10564317a76f88307d945e1a.r2.dev/samson-young/liquid-borders-2.mp3"></audio>
  </figure>
  <figure>
    <button type="button" class="media-toggle">
      <img src="{{ '/basic_img/play.svg' | url }}" alt="Play">
    </button>
    <figcaption>Liquid Borders III (Yuen Long & Lok Ma Chau)</figcaption>
    <audio src="https://pub-d42aa07d10564317a76f88307d945e1a.r2.dev/samson-young/liquid-borders-3.mp3"></audio>
  </figure>
  <figure>
    <button type="button" class="media-toggle">
      <img src="{{ '/basic_img/play.svg' | url }}" alt="Play">
    </button>
    <figcaption>Liquid Borders IV (Mai Po & Luk Keng)</figcaption>
    <audio src="https://pub-d42aa07d10564317a76f88307d945e1a.r2.dev/samson-young/liquid-borders-4.mp3"></audio>
  </figure>
</main>