---
title: Open Systems 3
jquery: true
permalink: /index.html
---
{% extends "base.njk" %}

{% block styles %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block content %}
<div class="ovalDiv_moon_img ovalDiv_img">
  <div class="oval_following">
    – Current Server Name: <span class="sp-name"></span><br>
    – Location: <span class="sp-loc"></span><br>
    – Battery Level: <span class="sp-bat"></span><br>
    – Time There: <span class="sp-time"></span><br>
  </div>
</div>
<div class="ovalDiv ovalDiv_moon"></div>
<div class="ovalDiv_img ovalDiv_sun_img">
  <div class="oval_following">
    – Current Server: <span class="sp-name"></span><br>
    – Site (City/Country): <span class="sp-loc"></span><br>
    – Battery Level: <span class="sp-bat"></span><br>
    – Time There: <span class="sp-time"></span><br>
  </div>
</div>
<div class="ovalDiv ovalDiv_sun"></div>
<div id="ovalRoute"></div>
<div class="title">Open Systems 3</div>
<div class="info_bar">
  This website is hosted across a network of solar powered servers and is sent to you from whichever server is in the most sunshine.
</div>
<img class="arrow_r arrow" src="/basic_img/arrow.jpg">
<img class="arrow_l arrow" src="/basic_img/arrow.jpg">

<div class="wrap">
  <img src="/basic_img/background.png">
  <div class="barhide side side_1"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_3"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_2"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_4"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_5"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_6"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_7"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_8"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_9"> <div class="bar_wrap"></div></div>
  <div class="barhide side side_10"><div class="bar_wrap"></div></div>
  <div class="barhide side side_11"><div class="bar_wrap"></div></div>

  <div class="barhide sidebottom side_1"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_3"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_2"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_4"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_5"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_6"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_7"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_8"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_9"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_10"><div class="perspective_wrap"></div></div>
  <div class="barhide sidebottom side_11"><div class="perspective_wrap"></div></div>

  <div class="barhide sidetop side_1"></div>
  <div class="barhide sidetop side_2"></div>
  <div class="barhide sidetop side_3"></div>
  <div class="barhide sidetop side_4"></div>
  <div class="barhide sidetop side_5"></div>
  <div class="barhide sidetop side_6 sidetop_hovered"></div>
  <div class="barhide sidetop side_7"></div>
  <div class="barhide sidetop side_8"></div>
  <div class="barhide sidetop side_9"></div>
  <div class="barhide sidetop side_10"></div>
  <div class="barhide sidetop side_11"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/index.js"></script>
{% endblock %}
