<div class="media-container media-audio">
  <audio controls{% if autoplay %} autoplay{% endif %}{% if loop %} loop{% endif %}>
    <source src="{{ mediaUrl }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>
